<style>
  .docs-panel-left {border-bottom-color: grey;  }
  .docs-panel {border-bottom-color: grey;   }
</style>
[[#if GettingStarted]]

[[else]]
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Documentation</li>
</ol>




    [[/if]]
<div class="page">
  <div class="page__header page__header--no-image"><h2>Documentation</h2></div>
  <div class='page__body' >
    <br>
    [[> "http://www.metaphacts.com/resource/DocumentationSearchInclude" ]]
    <bs-row>
        <bs-col sm="6">
          <bs-panel class="docs-panel-left">
            <h3>Building Declarative Web Applications </h3>
            <ul>
              <li>Templates &amp; Templating</li>
              <ul>
                <li><semantic-link uri='[[resolvePrefix "Help:TemplateAndApplicationPages"]]' >Template and Application Pages </semantic-link></li>
                <li>
                  <semantic-link uri='[[resolvePrefix "Help:PageStructure"]]'>Page Structure</semantic-link>
                  <ul>
                    <li><semantic-link uri='[[resolvePrefix "Help:PageViewConfig"]]'>Page View Configuration</semantic-link></li>
                  </ul>
                </li>
                <li><semantic-link uri='[[resolvePrefix "Help:BackendTemplating"]]'>Backend Templating </semantic-link> </li>
                <li><semantic-link uri='[[resolvePrefix "Help:FrontendTemplating"]]' >Frontend Templating</semantic-link> </li>
                <li><semantic-link iri="[[resolvePrefix "Help:EventSystem"]]">Event System</semantic-link></li>
                <li><semantic-link iri="[[resolvePrefix "Help:KnowledgePanel"]]">Knowledge Panel</semantic-link></li>
                <li><semantic-link iri="[[resolvePrefix "Help:CSSLayout"]]">CSS Layout</semantic-link></li>
              </ul>

              <li> <semantic-link  iri="[[resolvePrefix "Help:ReactBootstrap"]]">React Bootstrap Components</semantic-link></li>
              <li> <semantic-link  iri="[[resolvePrefix "Help:MPComponents"]]">Utility Components</semantic-link> </li>


              <li>Semantic Components</li>

              <ul>
                <semantic-query query='
SELECT ?link ?title ?level  WHERE {
  VALUES (?link ?title) {
    (<[[resolvePrefix "Help:SemanticQuery"]]> "Query" )
    (<[[resolvePrefix "Help:SemanticCarousel"]]> "Carousel" )
    (<[[resolvePrefix "Help:SemanticTable"]]> "Table")
    (<[[resolvePrefix "Help:SemanticGraph"]]> "Graph" )
    (<[[resolvePrefix "Help:SemanticTree"]]> "Tree" )
    (<[[resolvePrefix "Help:SemanticLazyTree"]]> "Lazy Tree" )
    (<[[resolvePrefix "Help:SemanticTimeline"]]> "Timeline" )
    (<[[resolvePrefix "Help:SemanticMap"]]> "Map" )
    (<[[resolvePrefix "Help:SemanticChart"]]> "Chart" )
    (<[[resolvePrefix "Help:SemanticContext"]]> "Semantic Context" )
    (<[[resolvePrefix "Help:SemanticSimpleSearch"]]> "Keyword Search" )
    (<[[resolvePrefix "Help:SemanticForm"]]> "Form (Data Input / Authoring)")
    (<[[resolvePrefix "Help:Ontodia"]]> "Ontodia")
  }
}

' template='{{> template}}'>

                  <template id='template'>
                    <div>
                      {{#each bindings}}
                      <li>
                        <semantic-link uri="{{link.value}}">
                          {{title.value}}
                        </semantic-link>
                      </li>
                      {{/each}}
                    </div>
                  </template>
                </semantic-query>
                <li><semantic-link uri="[[resolvePrefix "Help:SemanticSearch"]]">Semantic Search Framework</semantic-link>
                  <ul>
                    <li><semantic-link iri="[[resolvePrefix "Help:KeywordSearch"]]">Keyword Search</semantic-link></li>
                    <li><semantic-link iri="[[resolvePrefix "Help:StructuredSearch"]]">Structured Search</semantic-link></li>
                    <li><semantic-link iri="[[resolvePrefix "Help:ConstantSearch"]]">Constant Search</semantic-link></li>
                    <li><semantic-link iri="[[resolvePrefix "Help:FormBasedSearch"]]">Form Based Search</semantic-link></li>
                  </ul>
                </li>
              </ul>

            </ul>
          </bs-panel>
        </bs-col>
        <bs-col sm="6">

            <bs-panel class="docs-panel">
            <h3>Services</h3>
						<ul>
            <li>
              <semantic-link title="Lookup Service" iri='[[resolvePrefix "Help:LookupService"]]'>
                Lookup Service
              </semantic-link>
            </li>
            <li>
              <semantic-link title="Query Catalog" iri='[[resolvePrefix "Help:QueryCatalog"]]'>
                Query Catalog
              </semantic-link>
            </li>
            <li>
              <semantic-link title='LDP Assets Management' iri='[[resolvePrefix "Help:LDPAssetsManagement"]]'>
                LDP Assets Management
              </semantic-link>
            </li>
            <li>
              <semantic-link title="Publishing" iri='[[resolvePrefix "Help:Publishing"]]'>
                RDF Publishing
              </semantic-link>
            </li>
            </ul>
          </bs-panel>

            <bs-panel class="docs-panel">
	            <h3>Platform Operations</h3>
            <ul>
              <li>
                <semantic-link iri="[[resolvePrefix "Help:RepositoryManager"]]">Data Repositories Configuration</semantic-link>
              </li>
              [[!--<li>
                <semantic-link iri="[[resolvePrefix "Help:OperationsAndTroubleshooting"]]">Operations & Troubleshooting</semantic-link>
              </li> --]]
              <li>
        <semantic-link title="Working with Data" iri='[[resolvePrefix "Help:WorkingWithData"]]'>
          Working with Data
        </semantic-link>
      </li>
              <li>
                <semantic-link iri="[[resolvePrefix "Help:BasicSystemConfiguration"]]">Basic Configuration</semantic-link>
              </li>
              <li>
                <semantic-link title="Security Configuration" uri='[[resolvePrefix "Help:Security"]]'>
                  Security Configuration
                </semantic-link>
              </li>
              <li>
                <semantic-link title="Authentication Proxy" iri='[[resolvePrefix "Help:AuthenticationProxy"]]'>
                  Authentication Proxy
                </semantic-link>
              </li>
            </ul>
          </bs-panel>
            <bs-panel class="docs-panel">
            <h3>Installation & App Lifecycle</h3>
            <ul>
              <li>
                <semantic-link iri="[[resolvePrefix "Help:Installation"]]">Deployment & Installation</semantic-link>
              </li>
              <li>
                <semantic-link title="Apps" iri='[[resolvePrefix "Help:Apps"]]'>
                  App Mechanism (Structure and Bundling)
                </semantic-link>
                 <ul>
		          <li><semantic-link iri="[[resolvePrefix "Help:AppDeployment"]]">App Deployment</semantic-link></li>
		          <li><semantic-link iri="[[resolvePrefix "Help:AppExtensions"]]">App Extensions</semantic-link></li>
		        </ul>
              </li>
              <li>
                <semantic-link title="Storage" iri='[[resolvePrefix "Help:Storage"]]'>
                  (App) Storage
                </semantic-link>
              </li>
            </ul>
          </bs-panel>
        </bs-col>

      </bs-row>

  </div>
  </div>
